@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

h1{
  font-family:  'Playfair Display', serif;
}
.hrtag:before{
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #ffff;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
