.bar{
  background-image: linear-gradient(120deg,#ade498,#1d8fe1 48%,#625eb1);
}
.footerstyle {
  text-align: center;
  background-color: #101018f8;
  color: #fff;
  font-size: 1.5em;
  border: 2px solid #101018f8;
  border-top-left-radius: 3px;
}
.part{
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media(max-width: 600px){
  .part{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}
